@{ 
    var UserName = Session["UserName"] == null ? "登录" : Session["UserName"].ToString();
}

<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicons -->
    <link rel="apple-touch-icon" href="assets/img/icon.png">

    <!-- ************************* CSS Files ************************* -->
    <!-- Vendor CSS -->
    @*<link rel="stylesheet" href="../../Content/vendor.css">
        <link rel="stylesheet" href="../../Content/main.css">*@
    @Styles.Render("~/Content/css_new")
    @Scripts.Render("~/bundles/modernizr")
</head>

<body>

    <!-- Preloader Start -->
    <!-- Preloader Start -->
    <div class="ft-preloader active">
        <div class="ft-preloader-inner h-100 d-flex align-items-center justify-content-center">
            <div class="ft-child ft-bounce1"></div>
            <div class="ft-child ft-bounce2"></div>
            <div class="ft-child ft-bounce3"></div>
        </div>
    </div>
    <!-- Preloader End -->
    <!-- Main Wrapper Start -->
    <div class="wrapper">
        <!-- Header Start -->
        <header class="header header-default site-header">
            <div class="header__outer">
                <div class="header__inner header--fixed">
                    <div class="container">
                        <div class="header__main">
                            <div class="header__col header__left">
                                <a href="index.html" class="logo">
                                    <figure class="logo--normal">
                                        <!-- <img src="assets/img/logo/logo.png" alt="Logo"> -->
                                    </figure>

                                </a>
                            </div>
                            <div class="header__col header__center">
                                <nav class="main-navigation d-none d-lg-block">
                                    <ul class="mainmenu">
                                        <li class="mainmenu__item menu-item-has-children position-relative">
                                            @Html.ActionLink("主页","Index","Home", new { },htmlAttributes: new { @class = "mainmenu__link" })
                                        </li>
                                        <li class="mainmenu__item menu-item-has-children position-relative">
                                            @Html.ActionLink("发布需求", "RelaseDemand", "Deamd", new { }, htmlAttributes: new { @class = "mainmenu__link" })
                                            @*<a href="#" class="mainmenu__link">发布需求</a>*@
                                        </li>
                                        <li class="mainmenu__item menu-item-has-children position-relative">
                                            @Html.ActionLink("个人页面", "Myaccount", "Home", new { }, htmlAttributes: new { @class = "mainmenu__link" })
                                            @*<a href="#" class="mainmenu__link">个人页面</a>*@
                                        </li>
                                        <!-- <li class="mainmenu__item">
                                        <a href="contact-us.html" class="mainmenu__link">提交</a>
                                    </li> -->
                                    </ul>
                                </nav>
                            </div>
                            <div class="header__col header__right">
                                <div class="toolbar-item d-none d-lg-block">
                                    <a href="@Url.Action("Login","Home")" class="toolbar-btn">
                                        <span>@UserName</span>
                                    </a>
                                </div>
                                <div class="toolbar-item d-block d-lg-none">
                                    <a href="#offcanvasnav" class="hamburger-icon js-toolbar menu-btn">
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="header-sticky-height"></div>
            </div>
        </header>
        <!-- Header End -->
        <!-- Breadcrumb area Start -->
        <section class="page-title-area bg-color" data-bg-color="#f4f4f4">
            <div class="container">
                <div class="row">
                    <div class="col-12 text-center">
                        <h1 class="page-title">@ViewBag.TitleA</h1>
                        @*<ul class="breadcrumb">
                            <li><a href="index.html">@ViewBag.TitleB</a></li>
                            <li class="current"><span>@ViewBag.TitleC</span></li>
                        </ul>*@
                    </div>
                </div>
            </div>
        </section>
        <!-- Breadcrumb area End -->
        <!-- Main Content Wrapper Start  主要位置 -->
        @RenderBody()
        <!-- Main Content Wrapper Start -->
        <!-- Footer Start-->
        <footer class="footer bg-color pt--70 pt-xs--60" data-bg-color="#f4f8fa">
            <div class="container">
                <div class="row ptb--20">
                    <div class="col-12 text-center">
                        <p class="copyright-text">Copyright &copy; 2019.Company name All rights reserved.</p>
                        <p class="copyright-text">@Html.ActionLink("反馈信息","Feedback","CustServer")</p>
                        <p class="copyright-text">@Html.ActionLink("管理入口", "Feedback", "CustServer")</p>
                        <div class="social space-10"></div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- Footer End-->
        <!-- Global Overlay Start -->
        <div class="global-overlay"></div>
        <!-- Global Overlay End -->
        <!-- Scroll To Top Start -->
        <a class="scroll-to-top" href=""><i class="fa fa-angle-double-up"></i></a>
        <!-- Scroll To Top End -->
    </div>
    <!-- Main Wrapper End -->
    <!-- ************************* JS Files ************************* -->
    @*<script src="assets/js/vendor.js"></script>
        <script src="assets/js/main.js"></script>*@
    @Scripts.Render("~/bundles/vendor")
    @Scripts.Render("~/bundles/main")
    @RenderSection("scripts", required: false)
</body>

</html>