@model $safeprojectname$.Models.UserViewModel.RegisteViewModel

@{
    ViewBag.TitleB = "注册";
    Layout = "~/Views/Shared/_LayoutPageLnR.cshtml";
}

<div class="page-content-inner pt--75 pb--80">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form__group mb--30">
                        @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "form__label" })
                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form__input" } })
                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                    </div>
                    <div class="form__group mb--30">
                        @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "form__label" })
                        @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form__input" } })
                        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                    </div>

                    <div class="form__group mb--30">
                        @Html.LabelFor(model => model.ConfirmPassword, htmlAttributes: new { @class = "form__label" })
                        @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form__input" } })
                        @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                    </div>

                    <div class="form__group mb--30">
                        @Html.LabelFor(model => model.UserName, htmlAttributes: new { @class = "form__label" })
                        @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form__input" } })
                        @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                    </div>

                    <div class="form__group mb--30">
                        @Html.LabelFor(model => model.TelphoneNumber, htmlAttributes: new { @class = "form__label" })
                        @Html.EditorFor(model => model.TelphoneNumber, new { htmlAttributes = new { @class = "form__input" } })
                        @Html.ValidationMessageFor(model => model.TelphoneNumber, "", new { @class = "text-danger" })
                    </div>

                    <div class="form__group mb--30">
                        @Html.LabelFor(model => model.Address, htmlAttributes: new { @class = "form__label" })
                        @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form__input" } })
                        @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                    </div>

                    <div class="form__group mb--30">
                        @Html.LabelFor(model => model.RealName, htmlAttributes: new { @class = "form__label" })
                        @Html.EditorFor(model => model.RealName, new { htmlAttributes = new { @class = "form__input" } })
                        @Html.ValidationMessageFor(model => model.RealName, "", new { @class = "text-danger" })
                    </div>

                    <div class="form__group mb--30">
                        @Html.LabelFor(model => model.CompanyName, htmlAttributes: new { @class = "form__label" })
                        @Html.EditorFor(model => model.CompanyName, new { htmlAttributes = new { @class = "form__input" } })
                        @Html.ValidationMessageFor(model => model.CompanyName, "", new { @class = "text-danger" })
                    </div>
                    <div class="form__group text-center">
                        <input type="submit" value="注册" class="btn btn-size-sm">
                    </div>
                }
            </div>
        </div>
    </div>
</div>




@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
